 
<header>
</header>


<section class="content">
  
{% if cart.items != blank %}
 
      
 

  
  <form method="post" action="/cart" class="cart_form">
   
    <ul class="cart_details">
      {% for item in cart.items %}
      
          
      <li>     
       
        
        <div class="product_details">
          
         <center> <img src="{{ item.product.image | product_image_url size:"large" }}"><br>
           <h2> {{ item.product.name }} -
            {% unless item.product.has_default_option %}
              {{ item.option.name }}
           {% endunless %}  
           </h2></center>
          </div>
       
      
    <center><div class="product_actions">
      <div class="quantity">{{ item | item_quantity_input }}</div>
          <div class="price">{{ item.price | money_with_sign }}</div>
      </div>
        
        
      <button class="update_btn" name="update" border="none" type="submit" title="Update Cart">UPDATE</button> 
      
      </li>
        

        </center>   
        
        
        
        
      {% endfor %}
  
  <br>
  
  <center><h2><span> {{ cart.item_count | pluralize: 'ITEM', 'ITEMS' }}</span> - {{ cart.subtotal | money_with_sign }}</h2></center><br>
  
    
  <button class="checkout_btn" type="submit" name="checkout" title="Checkout"onclick="window.location.href='/checkout'">CHECKOUT</button>
      <p><center><button type="button" class="probutton" onclick="window.location.href='/'"><font color="white">CONTINUE SHOPPING</font></button></center></p>
     
    </ul>

    
     </br>
  
  {% if cart.shipping.enabled or cart.discount.enabled %}
	<ul class="cart_options">
	  <li class="cart_shipping">
	  {% if cart.shipping.enabled %}
	    {% if cart.shipping.strict %}
	      <div class="select">
		  	{{ store.country | country_select }}
		  	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="10.001px" height="6px" viewBox="0 0 10.001 6" xml:space="preserve"><path class="down_arrow" d="M9.852 1.537c0.199-0.189 0.199-0.496 0-0.684L9.135 0.17C8.938-0.02 8.617-0.02 8.4 0.17L5.016 3.5 L1.582 0.143c-0.199-0.189-0.52-0.189-0.717 0L0.148 0.826c-0.197 0.188-0.197 0.5 0 0.684l4.508 4.3 c0.199 0.2 0.5 0.2 0.7 0L9.852 1.537z"/></svg>
	      </div>
	    
	    {% endif %}  
	  {% endif %}
	  
	  {% if cart.discount.enabled %}
	      <input autocomplete="off" id="cart_discount_code" name="cart[discount_code]" type="text" placeholder="Enter discount code" {% if cart.discount.code %}value="{{ cart.discount.code }}"{% endif %}>
	  {% endif %}
	  </li>
	  <li class="cart_totals">
	  	{% if cart.shipping.enabled %}
	  	<div>SHIPPING <span>
		  	
        {% if cart.shipping.pending %}
          {% if cart.country %}
          SELECT ANOTHER COUNTRY
          {% else %}
          SELECT COUNTRY
          {% endif %}
        {% else %}
          {{ cart.shipping.amount | money_with_sign }}
        {% endif %}
		 </span></div>
	  	{% endif %}
		{% if cart.discount.enabled %}
		  {% if cart.discount.pending %}
		    {% elsif cart.discount.free_shipping %}
		      <div>DISCOUNT <span>FREE SHIPPING!</span></div>
		    {% else %}
		      <div>DISCOUNT <span>- {{ cart.discount.amount | money_with_sign }}</span></div>
		  {% endif %}
		{% endif %}
	  	<div>TOTAL <span>{{ cart.total | money_with_sign }}</span></div>
	  </li>
	</ul>   
    {% endif %} 

  {% else %}
  <br><br>
<center>
  <div class="cart_empty">
  
  <BR>
    
    <center><h2>YOUR CART IS CURRENTLY EMPTY.</h2></center></br>
  <center><button type="button" class="probutton" onclick="window.location.href='/'"><font color="white">CONTINUE SHOPPING</font></button></center>
  <BR>

 
  
  </div></center>
  


  {% endif %}
  
 
</div>
</section>



  