<!doctype html>
<html>
  <head>
    <title> Fair & Glorious </title>
      
      <meta charset="utf-8">
    <meta name="application-name" content="Fair & Glorious">
    <meta name="apple-mobile-web-app-title" content="Fair & Glorious">    
    <meta name="description" content="An Atlanta based street wear brand.">
    
    
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black">    
    
    <link rel="shortcut icon" href="http://www.iconj.com/ico/1/7/17kbofimez.ico" type="image/x-icon" />
   
    
    <link rel="icon" sizes="512x512" href="http://chrisbbenyard.github.io/fngappicon.png">
    <link rel="apple-touch-icon" href="http://chrisbbenyard.github.io/fngappicon.png" /> 
    <link rel="apple-touch-icon" sizes="76x76" href="http://chrisbbenyard.github.io/fngappicon.png" /> 
    <link rel="apple-touch-icon" sizes="120x120" href="http://chrisbbenyard.github.io/fngappicon.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="http://chrisbbenyard.github.io/fngappicon.png" />
    <link rel="apple-touch-icon" sizes="256x256" href="http://chrisbbenyard.github.io/fngappicon.png" />
    
    <meta name="viewport" content="user-scalable=no">
              
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
   

 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script src="https://chrisbbenyard.github.io/js/materialize.js"></script> 
 <script src="https://chrisbbenyard.github.io/js/init.js"></script>
   
        
    <link href='http://fonts.googleapis.com/css?family=Cutive+Mono:400,700,900' rel='stylesheet' type='text/css'>
  	<link href="https://chrisbbenyard.github.io/Imminent/css/loader.css" rel="stylesheet" type="text/css">     
    <link href="https://chrisbbenyard.github.io/Imminent/css/normalize.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://chrisbbenyard.github.io/Imminent/css/font-awesome.min.css"> 
    <link href="https://chrisbbenyard.github.io/Imminent/css/style.css" rel="stylesheet" type="text/css">

<script src="https://chrisbbenyard.github.io/Imminent/js/jquery.js"></script>
     
    {{ head_content }}
</head>
 
  


  
    
    

	<body>   
        <div class="preloader">          
        <div class="loading">
                <h2>
                    Loading...
                </h2>
                <span class="progress"></span>
            </div>
        </div>

      
      
    
         <div class="wrapper">
           
			 
			 
			 <!-- Top Navigation -->
           <div class="container">
        
             <div class="codrops-top clearfix">            
    <span style="font-size:50px;cursor:pointer" class="openbtn" onclick="openNav()">
		<font color="transparent"></font>
				 </span>				
             </div>

             <div id="myNav" class="overla">
 	 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  
             <div class="overla-content">    
     <li {% if page.full_url contains '/products' %}class="button"{% endif %}>        
       <button type="button" class="button" onclick="window.location.href='/products'">Products</button>
				 </li>
            
     <li {% if page.full_url contains '/contact' %}class="button"{% endif %}>
      <button type="button" class="button" onclick="window.location.href='/contact'">Contact</button>
				 </li> 
      
     <li {% if page.full_url contains '/lookbook' %}class="button"{% endif %}>
       <button type="button" class="button" onclick="window.location.href='/lookbook'">Lookbook</button>
				 </li>           
    
     <li {% if page.full_url contains '/about' %}class="button"{% endif %}>
       <button type="button" class="button" onclick="window.location.href='/About'">About</button>
				 </li> 
                        
     <li {% if page.full_url contains '/cart' %}class="button"{% endif %}>
       <button type="button" class="button" onclick="window.location.href='/cart'">Checkout</button>
				 </li>
    
     <li {% if page.full_url contains '/privacy-policy' %}class="button"{% endif %}>
       <button type="button" class="button" onclick="window.location.href='/privacy-policy'">Privacy Policy</button>
				 </li>
     
     <li {% if page.full_url contains '/terms-and-conditions' %}class="button"{% endif %}>
       <button type="button" class="button" onclick="window.location.href='/terms-and-conditions'">Terms & Conditions</button></li> 
         
     <li {% if page.full_url contains '/check' %}class="button"{% endif %}>
       <button type="button" class="button" onclick="window.location.href='/check'">Check</button>
				 </li>   
             
         <div id="site_footer">
      <div id="badge">
		  <img src="http://i.imgur.com/mXamSNS.png" onclick="window.location.href='/'"> 
       
		  <center>
          <font color="#ffffff">©2018 Fair & Glorious, All Rights Reserved.</font> 
        </center>            
        </div>
           </div>
         
           
           
        
         </div>          
       </div> 

      
           
    
           
           
       <ul class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" id="scene">
               
              <li class="layer" data-depth="0.00">
              </li>
              
              <!-- BG -->
              <li class="layer" data-depth="0.10">
                    <div class="background">
                    </div>
              </li>
              
                <!-- Hero -->
              <li class="layer" data-depth="0.20">
                <div class="title">
                                       
                      <center>
                        <div class="text">
                          dsfsdfsd
                        </div>
                      </center>
                      <span class="line"></span>
                                         
                </div>
              </li>

              
              <li class="layer" data-depth="0.25">
                <div class="sphere">
                  <img src="http://chrisbbenyard.github.io/Imminent/images/sphere.png"style="opacity:0.4;filter:alpha(opacity=40);">
                </div>        
              </li>

              
              <li class="layer" data-depth="0.30">        
                <div class="hero">       
                  <p class="sub-title">
                  </p>      
                </div>     
              </li>
  
   
              <!-- Flakes -->

              
                <li class="layer" data-depth="0.40">
                    <div class="depth-1 flake1">
                      <img src="">
                    </div>

                    <div class="depth-1 flake2">
                        <img src="">
                    </div>

                    <div class="depth-1 flake3">
                        <img src="">
                    </div>

                    <div class="depth-1 flake4">
                      <img src="">
                    </div>
                </li>

                <li class="layer" data-depth="0.50">
                    <div class="depth-2 flake1">
                      <img src="">
                    </div>


                    <div class="depth-2 flake2">
                      <img src="">
                    </div>
                </li>

                <li class="layer" data-depth="0.60">
                    <div class="depth-3 flake1">
                        <img src="">
                    </div>

                    <div class="depth-3 flake2">
                        <img src="">
                    </div>

                    <div class="depth-3 flake3">
                        <img src="">
                    </div>

                    <div class="depth-3 flake4">
                        <img src="">
                    </div>
                </li>

              
                <li class="layer" data-depth="0.80">
                    <div class="depth-4">
                        <img src="">
                    </div>
                </li>

              
                <li class="layer" data-depth="1.00">
                    <div class="depth-5">
                        <img src="">
                    </div>
                </li>
              
                <!-- Contact -->
                <li class="layer" data-depth="0.20">
                                                   
                  
                  <div class="carousel">                            
                    <a class="carousel-item"><img src="https://chrisbbenyard.github.io/images/LettermanBlack.png" onclick="window.location.href='/product/letterman-black'"></a>
                    <a class="carousel-item"><img src="https://chrisbbenyard.github.io/images/blackliveevil_front.png" onclick="window.location.href='/product/live-evil-black'"></a>
                    <a class="carousel-item"><img src="https://chrisbbenyard.github.io/images/blackgexfg.png" onclick="window.location.href='/product/ideas-black'"></a> 
                    <a class="carousel-item"><img src="https://chrisbbenyard.github.io/images/HomeSafeBlack.png" onclick="window.location.href='/product/letterman-red'"></a> 
                    <a class="carousel-item"><img src="https://chrisbbenyard.github.io/images/LettermanRed.png" onclick="window.location.href='/product/letterman-red'"></a>
                    <a class="carousel-item"><img src="https://chrisbbenyard.github.io/images/redliveevil_front.png" onclick="window.location.href='/product/live-evil-red'"></a>
                    <a class="carousel-item"><img src="https://chrisbbenyard.github.io/images/redgexfg.png" onclick="window.location.href='/product/ideas-red'"></a>
                    <a class="carousel-item"><img src="https://chrisbbenyard.github.io/images/HomeSafeRed.png" onclick="window.location.href='/product/fg-red'"></a>
                    <a class="carousel-item"><img src="https://chrisbbenyard.github.io/images/LettermanBlue.png" onclick="window.location.href='/product/letterman-blue'"></a> 
                    <a class="carousel-item"><img src="https://chrisbbenyard.github.io/images/blueliveevil_front.png" onclick="window.location.href='/product/live-evil-blue'"></a> 
                    <a class="carousel-item"><img src="https://chrisbbenyard.github.io/images/bluegexfg.png" onclick="window.location.href='/product/ideas-blue'"></a>
                    <a class="carousel-item"><img src="https://chrisbbenyard.github.io/images/HomeSafeBlue.png" onclick="window.location.href='/product/fg-blue'"></a>
                  </div> 
                          
                                                  
                  <div class="contact">
                    <ul class="icons"> 
                      <a href="/products">
						  <i class="fa fa-info-circle"></i>
						</a> 
                    </ul>
                  </div>
              </li>   
              
       </ul>
                    
              
            </div>
          </div>
                  
          
          

  
  
  
  
  
  
  
  <div class="topsie">
	  <span style="font-size:50px;cursor:pointer" class="openbtn" onclick="openNav()">
		  <font color="#000000"> &#9776;</font>
	  </span>
		</div>
		
             </div><!-- /container -->
		        
		
	
         

                                 
       
        


        
        
<script>
function openNav() {
    document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.width = "0%";
}
</script>   
  
  
  
  
  

      
    

    
    
       
  
  
  
  
<script type="text/javascript">
   // ——————————————————————————————————————————————————
// TextScramble
// ——————————————————————————————————————————————————

class TextScramble {
  constructor(el) {
    this.el = el
    this.chars = ',.?/\\(^ACpbG8oUlw9Dn5eHK)![]{}*^%$#\@ ________'
    this.update = this.update.bind(this)
  }
  setText(newText) {
    const oldText = this.el.innerText
    const length = Math.max(oldText.length, newText.length)
    const promise = new Promise((resolve) => this.resolve = resolve)
    this.queue = []
    for (let i = 0; i < length; i++) {
      const from = oldText[i] || ''
      const to = newText[i] || ''
      const start = Math.floor(Math.random() * 40)
      const end = start + Math.floor(Math.random() * 40)
      this.queue.push({ from, to, start, end })
    }
    cancelAnimationFrame(this.frameRequest)
    this.frame = 0
    this.update()
    return promise
  }
  update() {
    let output = ''
    let complete = 0
    for (let i = 0, n = this.queue.length; i < n; i++) {
      let { from, to, start, end, char } = this.queue[i]
      if (this.frame >= end) {
        complete++
        output += to
      } else if (this.frame >= start) {
        if (!char || Math.random() < 1.99) {
          char = this.randomChar()
          this.queue[i].char = char
        }
        output += `<span class="dud">${char}</span>`
      } else {
        output += from
      }
    }
    this.el.innerHTML = output
    if (complete === this.queue.length) {
      this.resolve()
    } else {
      this.frameRequest = requestAnimationFrame(this.update)
      this.frame++
    }
  }
  randomChar() {
    return this.chars[Math.floor(Math.random() * this.chars.length)]
  }
}

// ——————————————————————————————————————————————————
// Example
// ——————————————————————————————————————————————————

const phrases = [
  
  'Fair & Glorious',
  'F + G'
]

const el = document.querySelector('.text')
const fx = new TextScramble(el)

let counter = 0
const next = () => {
  fx.setText(phrases[counter]).then(() => {
    setTimeout(next, 400)
  })
  counter = (counter + 1) % phrases.length
}

next()
    </script>
  
  
  
  
  
 
 
  
  
  
  
   
       
 
     
 
        
    <script src="https://chrisbbenyard.github.io/Imminent/js/plugins.js"></script> 

       <script src="https://chrisbbenyard.github.io/Imminent/js/main.js"></script>
  
  

      </body>
</html>
                                       